auth_enabled: false
http_prefix: {{ loki_http_prefix }}

server:
  http_listen_address: {{ loki_server_address }}
  http_listen_port: {{ loki_server_port }}
  register_instrumentation: {{ loki_metrics | ternary('true', 'false') }}

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 1h       # Any chunk not receiving new logs in this time will be flushed
  max_chunk_age: 1h           # All chunks will be flushed when they hit this age, default is 1h
  chunk_target_size: 1048576  # Loki will attempt to build chunks up to 1.5MB, flushing first if chunk_idle_period or max_chunk_age is reached first
  chunk_retain_period: 30s    # Must be greater than index read cache TTL if using an index cache (Default index read cache TTL is 5m)
  max_transfer_retries: 0     # Chunk transfers disabled

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: {{ loki_workdir }}/boltdb-shipper-active
    cache_location: {{ loki_workdir }}/boltdb-shipper-cache
    cache_ttl: 24h         # Can be increased for faster performance over longer query periods, uses more disk space
    shared_store: filesystem
  filesystem:
    directory: {{ loki_workdir }}/chunks

compactor:
  working_directory: {{ loki_workdir }}/boltdb-shipper-compactor
  shared_store: filesystem

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  split_queries_by_interval: 24h

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: {{ loki_retention_deletes | ternary('true','false') }}
  retention_period: {{ loki_retention_period }}

ruler:
  storage:
    type: local
    local:
      directory: {{ loki_workdir }}/rules
  rule_path: {{ loki_workdir }}/rules-temp
{% if loki_alertmanager_url %}
  alertmanager_url: http://localhost:9093
{% endif %}
  ring:
    kvstore:
      store: inmemory
  enable_api: true

frontend:
  max_outstanding_per_tenant: 4096
