server:
  http_listen_port: {{ loki_promtail_server }}
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
{% for export in loki_promtail_exports %}
  - {{ export }}
{% endfor %}
scrape_configs:
{{ loki_promtail_jobs | to_yaml | indent(width=2, first=True) }}
